name: Exercice
run-name: Running by @${{ github.actor }}
on: 
  push:
    branches: [master]

jobs: 
  run-node: 
    runs-on: ubuntu-latest
    steps: 
      - name: Check code
        uses: actions/checkout@v4

      - name: dependances installations
        run: npm install

      - name: Run tests
        run: npm test
        
      - name: Build
        run: npm run build