name: Exercice workflow
run-name: Running by @${{ github.actor }}
on: 
  push:
    branches: [master]

jobs: 
  run-node: 
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      
      - name: dependances installations
        run: npm install